library/Xi/Netvisor/Resource/Dtd/product.dtd

<!DOCTYPE root [
<!ELEMENT root (product)>
<!ELEMENT product (productbaseinformation, productbookkeepingdetails?, productadditionalinformation?)>
<!ELEMENT productbaseinformation (productcode?, productgroup, name, description?, unitprice, unit?, unitweight?, kaukevaproductcode?, purchaseprice?, tariffheading?, comissionpercentage?, isactive, issalesproduct, inventoryenabled?, countryoforigin?, primaryeancode?, secondaryeancode?)>
<!ELEMENT productbookkeepingdetails (defaultvatpercentage, defaultdomesticaccountnumber?, defaulteuaccountnumber?, defaultoutsideeuaccountnumber?)>
<!ELEMENT productadditionalinformation (productnetweight?, productgrossweight?, productweightunit?, productpackageinformation?, dimension*)>
<!ELEMENT productpackageinformation (packagewidth, packageheight, packagelength)>

<!ELEMENT productcode (#PCDATA)>
<!ELEMENT productgroup (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT unitprice (#PCDATA)>
	<!ATTLIST unitprice type (net|gross) #REQUIRED>
<!ELEMENT unit (#PCDATA)>
<!ELEMENT unitweight (#PCDATA)>
<!ELEMENT kaukevaproductcode (#PCDATA)>
<!ELEMENT purchaseprice (#PCDATA)>
<!ELEMENT tariffheading (#PCDATA)>
<!ELEMENT comissionpercentage (#PCDATA)>
<!ELEMENT isactive (#PCDATA)>
<!ELEMENT issalesproduct (#PCDATA)>
<!ELEMENT inventoryenabled (#PCDATA)>
<!ELEMENT countryoforigin (#PCDATA)>
  <!ATTLIST countryoforigin type CDATA "ISO-3166">
<!ELEMENT primaryeancode (#PCDATA)>
<!ELEMENT secondaryeancode (#PCDATA)>

<!ELEMENT defaultvatpercentage (#PCDATA)>
<!ELEMENT defaultdomesticaccountnumber (#PCDATA)>
<!ELEMENT defaulteuaccountnumber (#PCDATA)>
<!ELEMENT defaultoutsideeuaccountnumber (#PCDATA)>

<!ELEMENT productnetweight (#PCDATA)>
<!ELEMENT productgrossweight (#PCDATA)>
<!ELEMENT productweightunit (#PCDATA)>

<!ELEMENT packagewidth (#PCDATA)>
<!ELEMENT packageheight (#PCDATA)>
<!ELEMENT packagelength (#PCDATA)>

<!ELEMENT dimension (dimensionname, dimensionitem)>
<!ELEMENT dimensionname (#PCDATA)>
<!ELEMENT dimensionitem (#PCDATA)>
<!ATTLIST dimensionitem fatherid CDATA #IMPLIED>
]>
